@font-face {
    font-family: "galano";
    src: url("../assests/fonts/GalanoGrotesqueAlt-Regular.woff") format("woff");
  }


*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: 'galano';
}


nav{
    line-height: 60px;
}

nav>ul{
list-style-type: none;
box-sizing: border-box;
float: right;
margin-right: 150px;
}

nav>ul>li{
    display: inline-block;
    margin:0 10px;
    }



nav a,nav a:visited{
    text-decoration: none;
    padding: 10px;
color: black;
}


nav a:hover{
background: rgba(240, 240, 240,0.5);
}

a.active{
    background-color: antiquewhite;
    text-decoration: underline;
    text-decoration: blue;
    padding-bottom: 5px;
    text-underline-offset: 20px;
    text-decoration-thickness: 2px;
}


label.logo{
    font-size: 24px;
    margin-left: 15px;
  
}

label.logo span:nth-child(4n+2){
    color:red;
}

label.logo span:nth-child(3n+1){
    color:blue;
}
label.logo span:nth-child(3){
    color:orange;
}
label.logo span:nth-child(5){
    color:green;
}


